// 颜色定义规范
$color-background = #000000
$color-background-them = #000000
$color-background-d = rgba(30,46,61,0.6)
$color-highlight-background = #333
$color-dialog-background = #666
$color-theme = #3D9FD0
$color-theme-d = rgba(255, 205, 49, 0.5)
$color-sub-theme = #ff5959
$color-text = #3D9FD0
$color-text-d = rgba(61,159,208,0.7)
$color-text-dd = rgba(61,159,208,0.5)
$color-text-l = rgba(61,159,208, 0.6)
$color-text-ll = rgba(255, 255, 255, 0.8)

//字体定义规范
$font-size-small-s = 10px
$font-size-small = 12px
$font-size-medium = 14px
$font-size-medium-x = 16px
$font-size-large = 18px
$font-size-large-l = 20px
$font-size-large-x = 24px